[submodule "bmya/bmya-enterprise"]
	path = bmya/bmya-enterprise
	url = git@github.com:bmya/bmya-enterprise.git
	branch = 15.0
[submodule "bmya/server-tools"]
	path = bmya/server-tools
	url = git@github.com:bmya/server-tools.git
	branch = 15.0
[submodule "bmya/server-ux"]
	path = bmya/server-ux
	url = git@github.com:bmya/server-ux.git
	branch = 15.0
[submodule "teksa"]
	path = teksa
	url = git@github.com:bmya/teksa.git
	branch = 15.0

[submodule "bmya/odoo-bmya"]
	path = bmya/odoo-bmya
	url = git@github.com:bmya/odoo-bmya.git
	branch = 15.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 15.0
